<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
    <head>
        <meta charset="utf-8">
        <title>Module 3 - Assignment</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="NarrowItDownController as ctrl">
            <input type="text" ng-model="ctrl.searchTerm" placeholder="search term">
            <button ng-click="ctrl.narrowItDown()">NarrowItDownForMe!</button>
            <menu-list items="ctrl.items" on-remove="ctrl.remove(index)"></menu-list>
        </div>
    </body>
</html>